nav {
  background-color: lightblue;
}

nav ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 2rem;
  padding: 2rem;
}

.products {
  text-decoration: none;
  font-size: 1.6rem;
}

.products:hover {
  background-color: transparent;
}

.add-product {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 0.4rem 0.8rem;

  background-color: aliceblue;
}

.add-product:hover {
  background-color: rgb(108, 96, 214);
  color: white;
  transition: all 0.3s linear;
}
